.profile__add-button {
    padding: 0;
    min-width: 150px;
    min-height: 50px;
    background: #000;
    background-image: url(../../../images/button-plus.png);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    border: solid #fff 1px;
}