.profile__avatar {
<<<<<<< HEAD
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

@media screen and (max-width: 495px) {
  .profile__avatar {
    align-self: center;
  }
}

.profile__avatar:hover {
  cursor: pointer;
  opacity: 0.2;
}
=======
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
}

@media screen and (max-width: 495px) {
    .profile__avatar {
        align-self: center;
    }
}
>>>>>>> 7a5f24ee858667578486b4f7f00147096b8fd3c7
