.elements__paragraph {
    margin: 0;
    color: #000;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 450px) {
    .elements__paragraph {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
    }
}